/**
 * Arsol Projects for WooCommerce - Frontend Styles
 */



/* Temporary CSS */

/* Hide additional info wrapper */

.wc-block-order-confirmation-additional-fields-wrapper {
    display: none !important;
}




/* Project select field on checkout */
.woocommerce-checkout .form-row label[for="arsol-pfw-project"] {
    font-weight: bold;
}

/* Project tables - headers alignment */
.project-orders-table th,
.project-subscriptions-table th {
    text-align: left !important;
}

/* Only show one action button at a time */
.project-orders-table .order-actions .button,
.project-subscriptions-table .subscription-actions .button {
    margin: 0 3px 3px 0;
}

/* Responsive styling */
@media (max-width: 768px) {
    .arsol-pfw-projects-row thead {
        display: none;
    }
    
    .arsol-pfw-projects-row td {
        display: block;
        text-align: right;
    }
    
    .arsol-pfw-projects-row td:before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
    }
}
